<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProveedores" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62083/Proveedores.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProveedores" contract="ProveedoresWS.IProveedores"
                name="BasicHttpBinding_IProveedores" />
        </client>
    </system.serviceModel>
</configuration>