USE [master]
GO
/****** Object:  Database [TRABAJO_DSD]    Script Date: 30/05/2016 09:49:05 p.m. ******/
CREATE DATABASE [TRABAJO_DSD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRABAJO_DSD', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TRABAJO_DSD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TRABAJO_DSD_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TRABAJO_DSD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRABAJO_DSD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRABAJO_DSD]
GO
/****** Object:  Table [dbo].[CHEQUE_CABECERA]    Script Date: 30/05/2016 09:49:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHEQUE_CABECERA](
	[NUMERO_CHEQUE] [int] NOT NULL,
	[RUC] [nvarchar](11) NOT NULL,
	[CODIGO_BANCO] [nvarchar](10) NOT NULL,
	[FECHA_EMISION] [date] NOT NULL,
	[MONEDA] [nvarchar](10) NOT NULL,
	[IMPORTE_TOTAL] [float] NOT NULL,
	[ESTADO] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_CHEQUE_CABECERA] PRIMARY KEY CLUSTERED 
(
	[NUMERO_CHEQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHEQUE_DETALLE]    Script Date: 30/05/2016 09:49:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHEQUE_DETALLE](
	[NUMERO_CHEQUE] [int] NOT NULL,
	[TIPO_DOCUMENTO] [nvarchar](3) NOT NULL,
	[NUMERO_DOCUMENTO] [nvarchar](9) NOT NULL,
 CONSTRAINT [PK_CHEQUE_DETALLE] PRIMARY KEY CLUSTERED 
(
	[NUMERO_CHEQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCUMENTO_PAGAR]    Script Date: 30/05/2016 09:49:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO_PAGAR](
	[RUC] [nvarchar](12) NOT NULL,
	[NUMERO_DOCUMENTO] [nvarchar](9) NOT NULL,
	[TIPO_DOCUMENTO] [nvarchar](3) NOT NULL,
	[FECHA_EMISION] [date] NOT NULL,
	[FECHA_VENCIMIENTO] [date] NOT NULL,
	[MONEDA] [nvarchar](10) NOT NULL,
	[GLOSA] [nvarchar](30) NOT NULL,
	[IMPORTE] [float] NOT NULL,
	[ESTADO] [nvarchar](3) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAESTRO_BANCOS]    Script Date: 30/05/2016 09:49:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_BANCOS](
	[CODIGO_BANCO] [nvarchar](10) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MAESTRO_BANCOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PROVEEDOR]    Script Date: 30/05/2016 09:49:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PROVEEDOR](
	[RUC] [nvarchar](12) NOT NULL,
	[RAZON_SOCIAL] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[TIPO] [nchar](10) NULL,
 CONSTRAINT [PK_MAESTRO_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[RUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 30/05/2016 09:49:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[TIPO_DOCUMENTO] [nvarchar](3) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_PERSONA]    Script Date: 30/05/2016 09:49:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_PERSONA](
	[codTipoPersona] [nchar](10) NOT NULL,
	[dscTipoPersona] [varchar](50) NULL,
 CONSTRAINT [PK_TIPO_PERSONA_1] PRIMARY KEY CLUSTERED 
(
	[codTipoPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHEQUE_CABECERA] ([NUMERO_CHEQUE], [RUC], [CODIGO_BANCO], [FECHA_EMISION], [MONEDA], [IMPORTE_TOTAL], [ESTADO]) VALUES (100, N'20100130201', N'BCP', CAST(0x583B0B00 AS Date), N'SOL', 100, N'GIR')
INSERT [dbo].[CHEQUE_DETALLE] ([NUMERO_CHEQUE], [TIPO_DOCUMENTO], [NUMERO_DOCUMENTO]) VALUES (100, N'FAC', N'001-9999')
INSERT [dbo].[DOCUMENTO_PAGAR] ([RUC], [NUMERO_DOCUMENTO], [TIPO_DOCUMENTO], [FECHA_EMISION], [FECHA_VENCIMIENTO], [MONEDA], [GLOSA], [IMPORTE], [ESTADO]) VALUES (N'20100130201', N'001-1234', N'FAC', CAST(0x543B0B00 AS Date), CAST(0x723B0B00 AS Date), N'SOL', N'PAPEL FOTOCOPIA', 1200, N'PEN')
INSERT [dbo].[DOCUMENTO_PAGAR] ([RUC], [NUMERO_DOCUMENTO], [TIPO_DOCUMENTO], [FECHA_EMISION], [FECHA_VENCIMIENTO], [MONEDA], [GLOSA], [IMPORTE], [ESTADO]) VALUES (N'20100130201', N'001-9999', N'FAC', CAST(0x583B0B00 AS Date), CAST(0x583B0B00 AS Date), N'SOL', N'TEMPERAS', 100, N'PAG')
INSERT [dbo].[MAESTRO_BANCOS] ([CODIGO_BANCO], [DESCRIPCION]) VALUES (N'BCP', N'BANCO DE CREDITO DEL PERUCB')
INSERT [dbo].[MAESTRO_BANCOS] ([CODIGO_BANCO], [DESCRIPCION]) VALUES (N'BVA', N'BANCO CONTINENTAL CA')
INSERT [dbo].[TBL_PROVEEDOR] ([RUC], [RAZON_SOCIAL], [TELEFONO], [EMAIL], [TIPO]) VALUES (N'20100130201', N'TAYLOY', N'6112233', N'ventas@tayloy.com.pe', N'0         ')
INSERT [dbo].[TBL_PROVEEDOR] ([RUC], [RAZON_SOCIAL], [TELEFONO], [EMAIL], [TIPO]) VALUES (N'20934', N'empresa', N'nuevo', N'nuevi', N'nuevi     ')
INSERT [dbo].[TBL_PROVEEDOR] ([RUC], [RAZON_SOCIAL], [TELEFONO], [EMAIL], [TIPO]) VALUES (N'987654320', N'CASITA', N'nuevo', N'nuevi', N'nuevi     ')
INSERT [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO], [DESCRIPCION]) VALUES (N'FAC', N'FACTURAS')
INSERT [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO], [DESCRIPCION]) VALUES (N'RHP', N'RECIBO POR HONORARIOS PROFESIONALES')
INSERT [dbo].[TIPO_PERSONA] ([codTipoPersona], [dscTipoPersona]) VALUES (N'0         ', N'Ninguno')
INSERT [dbo].[TIPO_PERSONA] ([codTipoPersona], [dscTipoPersona]) VALUES (N'1         ', N'Natural')
INSERT [dbo].[TIPO_PERSONA] ([codTipoPersona], [dscTipoPersona]) VALUES (N'2         ', N'Jurídica')
ALTER TABLE [dbo].[CHEQUE_CABECERA]  WITH CHECK ADD  CONSTRAINT [FK_CHEQUE_CABECERA_MAESTRO_BANCOS] FOREIGN KEY([CODIGO_BANCO])
REFERENCES [dbo].[MAESTRO_BANCOS] ([CODIGO_BANCO])
GO
ALTER TABLE [dbo].[CHEQUE_CABECERA] CHECK CONSTRAINT [FK_CHEQUE_CABECERA_MAESTRO_BANCOS]
GO
ALTER TABLE [dbo].[CHEQUE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_CHEQUE_DETALLE_CHEQUE_CABECERA] FOREIGN KEY([NUMERO_CHEQUE])
REFERENCES [dbo].[CHEQUE_CABECERA] ([NUMERO_CHEQUE])
GO
ALTER TABLE [dbo].[CHEQUE_DETALLE] CHECK CONSTRAINT [FK_CHEQUE_DETALLE_CHEQUE_CABECERA]
GO
ALTER TABLE [dbo].[DOCUMENTO_PAGAR]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_PAGAR_MAESTRO_PROVEEDOR] FOREIGN KEY([RUC])
REFERENCES [dbo].[TBL_PROVEEDOR] ([RUC])
GO
ALTER TABLE [dbo].[DOCUMENTO_PAGAR] CHECK CONSTRAINT [FK_DOCUMENTO_PAGAR_MAESTRO_PROVEEDOR]
GO
ALTER TABLE [dbo].[DOCUMENTO_PAGAR]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_PAGAR_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[DOCUMENTO_PAGAR] CHECK CONSTRAINT [FK_DOCUMENTO_PAGAR_TIPO_DOCUMENTO]
GO
USE [master]
GO
