<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TRABAJO_DSDConnectionString" connectionString="Data Source=HN060851\SQLEXPRESS;Initial Catalog=TRABAJO_DSD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProveedores" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62083/Proveedores.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProveedores" contract="ServiceReference1.IProveedores"
        name="BasicHttpBinding_IProveedores" />
    </client>
  </system.serviceModel>
</configuration>